* {
  $white :white;
  box-sizing: border-box;
  .side__bar {
    float: left;
    .header__left {
      width: 300px;
      height: 100px;
      background-color: #253141;
      &__users {
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        color: $white;
        line-height: 100px;
        &__name {
          font-size: 16px;
        }
        &__contents {
          width: 60px;
          text-align: right;
          .setting__icon {
            margin-left: 5px;
          }
          .icon {
            text-decoration: none;
            color: $white;
          }
        }
      }
    }
    &__lists {
      width: 300px;
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      overflow:hidden;
      .group {
        padding: 20px;
        color: $white;
        font-size: 10px; 
        .group__name {
          font-size: 15px;
          color: $white;
          text-decoration: none;
        }
        .group__meaages {
          margin-top: 5px;
        }
      }
    }
  }
  .main_chat {
    float: right;
    .header__right {
      width: calc(100vw - 300px);
      height: 100px;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      &__left {
        &__name {
          font-size: 20px;
          color: #333333;
          margin: 35px 0px 15px 40px;
          text-align: left;
        }
        &__members {
          font-size: 12px;
          color: #999999;
          margin-left: 40px;
        }
      }
      &__right {
        display: flex;
        align-items: center;
        .header_edit {
          display: inline-block;
          padding: 0 20px;
          line-height: 40px;
          margin-right: 40px;
          font-size: 16px;
          color: #38aef0;
          border: 1px solid #38aef0;
          text-decoration: none;
        }
      }
    }
    .message {
      width: calc(100vw - 300px);
      height: calc(100vh - 190px);
      background-color: #fafafa;
      padding: 47px 0 0 40px;
      .message__details {
        display: flex;
        margin-bottom: 12px;
        &__user {
          font-size: 16px;
          color: #333333;
          font-weight: bold;
        }
        &__time {
          font-size: 12px;
          color: #999999;
          margin-left: 5px;
        }
      }
      .message__content {
        margin-bottom: 46px;
        font-size: 14px;
        color: #434A54;
      }
    }
    .message__form {
      width: calc(100vw - 300px);
      height: 90px;
      background-color: #d2d2d2;
      display: flex;
      align-items: center;
      &__wrapper {
        width: 100%;
        padding: 0 40px;
        .form__contents {
          display: flex;
        }
        .message_bar {
          position: relative;
          .message_area {
            width: calc(100vw - 495px);
            padding-left: 10px;
            line-height: 50px;
            border: none;
          }
          .image-icon {
            position: absolute;
            right: 10px;
            font-size: 1.5em;
            line-height: 50px;
          }
          .hidden-image {
            display: none;
          }
        }
        .send_btn {
          color: $white;
          background-color: #38aef0;
          width: 100px;
          line-height: 50px;
          margin-left: 15px;
        }
      }
    }
  }
}

